.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i
{
    float: right;
}
.achievement_text span
{
    color: orange;
}


nav.my_nav_bar
{
    position: sticky;
    top: 0;  
}
.new
{
    margin-bottom: 20px;
}
#contact iframe
{
width: 100%;
}

#humepark
{
    scroll-margin-top: 100px;
 }
#campus_life
{
   scroll-margin-top: 100px;
}

#achievements
{
    scroll-margin-top: 100px;
 }

#new
{
    scroll-margin-top: 100px;
 }

#contactus
{
    scroll-margin-top: 100px;
 }

#resources
{
    scroll-margin-top: 100px;
 }

#familychat
{
    scroll-margin-top: 100px;
 }

.container
{ 
    scroll-margin-top: 100px;
}
